@model pj_MVC_CRUD_bdventas.Models.ClienteModel

@{
    ViewBag.Title = "ClienteDetalle";
}

<h2>ClienteDetalle</h2>

<div>
    <h4>ClienteModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cod_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cor_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cor_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dir_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dir_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cred_cli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cred_cli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fec_nac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fec_nac)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_dist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_dist)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Cliente ", "ClienteEditar", new { id = Model.cod_cli}) |
    @Html.ActionLink("Regresar al Listado", "ClienteListado")
</p>
