@model IEnumerable<pj_MVC_CRUD_bdventas.Models.ClienteModel>

@{
    ViewBag.Title = "ClienteListado";
}

<h2>ClienteListado</h2>

<p>
    @Html.ActionLink("Create New", "ClienteGrabar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cod_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cor_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dir_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cred_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fec_nac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_dist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eli_cli)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod_cli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom_cli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_cli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cor_cli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dir_cli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cred_cli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fec_nac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_dist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eli_cli)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
