@model IEnumerable<pj_MVC_CRUD_bdventas.Models.ClienteModel>

@{
    ViewBag.Title = "ClienteListado";
}

<h2>ClienteListado</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "ClienteGrabar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cod_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nom_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel_cli)
        </th>
        <!-- correo y direccion eliminados de la vista de ClienteListado -->
        <th>
            @Html.DisplayNameFor(model => model.cred_cli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fec_nac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cod_dist)
        </th>
        <!-- eli_cli eliminado de la vista de ClienteListado -->
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cod_cli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nom_cli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel_cli)
        </td>
        <!-- correo y direccion eliminados de la vista de ClienteListado -->
        <td>
            @Html.DisplayFor(modelItem => item.cred_cli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fec_nac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cod_dist)
        </td>
        <!-- eli_cli eliminado de la vista de ClienteListado -->
        <td>
            <!-- 3 parametros : Msj en español , ActionResult , obj id=item.PrimaryKey  -->
            @Html.ActionLink("Editar", "ClienteEditar", new { id = item.cod_cli }) |
            @Html.ActionLink("Detalle", "ClienteDetalle", new { id = item.cod_cli }) |
            @Html.ActionLink("Delete", "ClienteEliminar", new { id = item.cod_cli })
        </td>
    </tr>
}

</table>
